<html>
	<head>
		<link rel="stylesheet" href="stylesheets/bootstrap.css"></link>
		<link rel="stylesheet" href="stylesheets/page_css.css"></link>
		<script type="text/javascript" src="js/jquery-2.1.3.js"></script>
		<script type="text/javascript" src="js/bootstrap.js"></script>
		<script type="text/javascript" src="js/angular.js"></script>
		<script type="text/javascript" src="js/general.js"></script>
		<script type="text/javascript" src="js/screen_writer.js"></script>
		<script type="text/javascript" src="js/page_js.js"></script>
		<title><%- title %></title>
	</head>
	<body ng-app="calculator">
		<div ng-controller="calculatorController">
			<calculator ae>
				<input_screen ae>{{calculatorText}}</input_screen>
				<div class="row no_margin">
					<div class="col-xs-8 no_padding">
						<div ng-repeat="number in numbers" class="number_button inline_block_display" ng-click="addToScreen(number)">{{number}}</div>
					</div>
					<div class="col-xs-4 no_padding">
						<div ng-repeat="operator in operators" class="number_button inline_block_display" ng-click="addToScreen(operator)">{{operator}}</div>
						<div ng-repeat="command in commands" class="number_button inline_block_display" ng-click="performCommand(command)">{{command}}</div>
					</div>
				</div>
			</calculator>
		</div>
	</body>
</html>