<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Unit Tests All</title>
  <link rel="stylesheet" href="stylesheets/qunit.css">
</head>
<body>
	<div id="qunit"></div>
	<div id="qunit-fixture"></div>
	<script type="text/javascript" src="js/jquery-2.1.3.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/general.js"></script>
	<script type="text/javascript" src="js/screen_writer.js"></script>
	<script src="js/qunit.js"></script>
	<script src="js/unit_tests.js"></script>
	
	<script type="text/javascript">
		var config = <%- JSON.stringify(configuration); %>;
		general.import_config(config);
	</script>
</body>
</html>